#logLevels th, #logLevels td {
    padding:0 10px 0 5px;
}
#logLevels thead th {
  font-size: 150%;
  font-weight: bold;
  border-bottom: 2px black solid;
}
#logLevels a, #logLevels span {
  color: black;
  padding: 2px;
  text-decoration: none;
}
#logLevels a.l_error:hover, span.l_error {
    color: black;
    background-color: #ff6666;
}
#logLevels a.l_warn:hover, span.l_warn {
    color: black;
    background-color: #ffff66;
}
#logLevels a.l_info:hover, span.l_info {
    color: black;
    background-color: #6666ff;
}
#logLevels a.l_debug:hover, span.l_debug {
    color: black;
    background-color: #408000;
}
#logLevels a.l_trace:hover, span.l_trace {
    color: black;
    background-color: #b3b3b3;
}