.weekView {
	position: relative;
	width: 1500px;
}

.weekViewBody {
	position: relative;
	width: 100%;
	height: 600px;
	overflow: auto;
}

.wkHead {
	background-color: rgb(41, 82, 122);
	width: 100%;
}

.wkHeadCell {
	height: 16px;
	width: 14%;
	margin: 0px;
	padding: 0px;
	font-family: arial;
	font-size: 8pt;
	text-align: center;
	color: white;
}


.wkCell {
	width: 14%;
	height: 20px;
	border-bottom: 1px solid black;
	background-color: #ffffcc;
	margin: 0px;
	padding: 0px;
	vertical-align: top;
}

.wkHour {
	background-color: #eeeeee;
	width: 40px;
}

.wkHour div {
	width: 40px;
	font-family: arial;
	font-size: 8pt;
	text-align: right;
	padding-right: 3px;
	
}

.calendarItem {
	background-color: rgb(41, 82, 122);
	z-index: 10;
	margin-top: 0px;
	padding-top: 0px;
	overflow: hidden;
	vertical-align: top;
	opacity: 0.7;
	filter: alpha(opacity =     70);
	cursor: pointer;
}

.calendarItemHead {
	margin-top: 0px;
	padding-top: 0px;
	font-family: arial;
	font-size: 7pt;
	color: #ffffff;
	overflow: hidden;
	vertical-align: top;
}

.calendarItemBody {
	background-color: rgb(102, 140, 179);
	margin: 1px;
	font-family: arial;
	font-size: 8pt;
	color: #ffffff;
	overflow: hidden;
	vertical-align: top;
}

.borderSolid {
	border-bottom: 1px solid #bbbbbb;
}

.borderDashed {
	border-bottom: 1px dashed #bbbbbb;
}

.borderLeft {
	border-left: 1px solid #dddd88;
}

table {
	border-collapse: collapse;
}

table tr {
	margin: 0px;
	padding: 0px;
}

table tr td {
	margin: 0px;
	padding: 0px;
}

#tooltip {
	position: absolute;
	z-index: 3000;
	padding: 5px;
	border: 1px solid #111;
	background-color: #e6f0ff;
	opacity: .85;
	-moz-opacity: .85;
	-khtml-opacity: .85;
	width: 200px;
}

#tooltip h3 {
	font-family: arial;
	font-size: 8pt;
	font-weight:normal;
	margin-top: 0px;
}

.greenItem {
	background-color: rgb(0, 82, 0);
	z-index: 10;
	margin-top: 0px;
	padding-top: 0px;
	overflow: hidden;
	vertical-align: top;
	opacity: 0.7;
	filter: alpha(opacity =     70);
	cursor: pointer;
}

.greenItemHead {
	margin-top: 0px;
	padding-top: 0px;
	font-family: arial;
	font-size: 7pt;
	color: #ffffff;
	overflow: hidden;
	vertical-align: top;
}

.greenItemBody {
	background-color: rgb(0, 140, 0);
	margin: 1px;
	font-family: arial;
	font-size: 8pt;
	color: #ffffff;
	overflow: hidden;
	vertical-align: top;
}





