.monthView {
	width: 1200px;
	background-color: #c3d9ff;
}

.topHead {
	background-color: #c3d9ff;
	font-family: arial;
	font-size: 9pt;
	text-align: center;
}

.cellHead {
	font-family: arial;
	font-size: 8pt;
	text-align: right;
	background-color: #cde3ff;
}

.cellBody {
	font-family: arial;
	font-size: 8pt;
	background-color: white;
	height: 85px;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: left;
}

.cellWeek {
	font-family: arial;
	font-size: 8pt;
	background-color: white;
	height: 85px;
	text-align: center;
}

.cellHeadToday {
	font-family: arial;
	font-size: 8pt;
	text-align: right;
	background-color: #aac0dc;
	text-decoration: underline;
}

.cellBodyToday {
	font-family: arial;
	font-size: 8pt;
	background-color: #fffff0;
	height: 85px;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: left;
}

.cellHeadOtherMonth {
	font-family: arial;
	font-size: 8pt;
	text-align: right;
	background-color: #e6f0ff;
	color: gray;
}

.cellBodyOtherMonth {
	font-family: arial;
	font-size: 8pt;
	background-color: #fafafa;
	color: gray;
	height: 85px;
	overflow-y: auto;
	overflow-x: hidden;
	text-align: left;
}

.calendarItem {
	margin: 1px;
}

.calendarItem a {
	margin-left: 1px;
	color: white;
	text-decoration: none;
	background-color: #ee5544;
	display: block;
}

.calendarItem a:hover {
	text-decoration: none;
	background-color: #ff6655;
	display: block;
}

#tooltip {
	position: absolute;
	z-index: 3000;
	padding: 5px;
	border: 1px solid #111;
	background-color: #e6f0ff;
	opacity: .85;
	-moz-opacity: .85;
	-khtml-opacity: .85;
	width: 200px;
}

#tooltip h3 {
	font-family: arial;
	font-size: 8pt;
	font-weight:normal;
	margin-top: 0px;
}
